<table style="width: 100%; height: 100%;">
  <tr class="cerceve">
    <td class="icerik"><input type="number" [disabled]="dizi0[0]==dizi[0]" [(ngModel)]="dizi0[0]"/></td>
    <td class="icerik"><input type="number" [disabled]="dizi0[1]==dizi[1]" [(ngModel)]="dizi0[1]"/></td>
    <td class="icerik2"><input type="number" [disabled]="dizi0[2]==dizi[2]" [(ngModel)]="dizi0[2]"/></td>
    <td class="icerik"><input type="number" [disabled]="dizi0[3]==dizi[3]" [(ngModel)]="dizi0[3]"/></td>
  </tr>
  <tr class="cerceve2">
    <td class="icerik"><input type="number" [disabled]="dizi0[4]==dizi[4]" [(ngModel)]="dizi0[4]"/></td>
    <td class="icerik"><input type="number" [disabled]="dizi0[5]==dizi[5]" [(ngModel)]="dizi0[5]"/></td>
    <td class="icerik2"><input type="number" [disabled]="dizi0[6]==dizi[6]" [(ngModel)]="dizi0[6]"/></td>
    <td class="icerik"><input type="number" [disabled]="dizi0[7]==dizi[7]" [(ngModel)]="dizi0[7]"/></td>
  </tr>
  <tr class="cerceve">
    <td class="icerik"><input type="number" [disabled]="dizi0[8]==dizi[8]" [(ngModel)]="dizi0[8]"/></td>
    <td class="icerik"><input type="number" [disabled]="dizi0[9]==dizi[9]" [(ngModel)]="dizi0[9]"/></td>
    <td class="icerik2"><input type="number" [disabled]="dizi0[10]==dizi[10]" [(ngModel)]="dizi0[10]"/></td>
    <td class="icerik"><input type="number"[disabled]="dizi0[11]==dizi[11]" [(ngModel)]="dizi0[11]"/></td>
  </tr>
  <tr class="cerceve">
    <td class="icerik"><input type="number"[disabled]="dizi0[12]==dizi[12]" [(ngModel)]="dizi0[12]"/></td>
    <td class="icerik"><input type="number"[disabled]="dizi0[13]==dizi[13]" [(ngModel)]="dizi0[13]"/></td>
    <td class="icerik2"><input type="number"[disabled]="dizi0[14]==dizi[14]" [(ngModel)]="dizi0[14]"/></td>
    <td class="icerik"><input type="number"[disabled]="dizi0[15]==dizi[15]" [(ngModel)]="dizi0[15]"/></td>
  </tr>
</table>
